<!DOCTYPE html>
<html>

      <head>
          <% include parts/head %>
      </head>

  <body>
      <% include parts/menu %>
    Créer par deux étudiants de l'ESGI, ASSALI Antoine et AZEROT Stéphane. Ils essaient de progresser en informatique.

  </body>
    <% include parts/script %>

  </html>
