<!DOCTYPE html>
<html>

      <head>
          <% include parts/head %>
      </head>

  <body>
      <% include parts/menu %>

		<form action="/users/created" method="post" enctype="application/json">
			<label for="email">Email</label>
			<input type="email" name="email" id="email"/>
			<label for="password">Password</label>
			<input type="password" name="password" id="password"/>
      <button class="btn btn-primary" role="button" type="submit">Ajouter</button>
    </form>
	</body>
  <% include parts/script %>
</html>
