<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8">
		<title></title>
	</head>
	<body>
      Voulez-vous vraiment supprimer l'utilisateur "<%= user.email %>"?
			<a href="/users/userDeleted/<%= user._id %>">Confirmer</a><a href="/users">Retour</a>
    </form>
	</body>
</html>
