<!DOCTYPE html>
<html>

      <head>
          <% include parts/head %>
      </head>

  <body>
      <% include parts/menu %>
      Voulez-vous vraiment supprimer l'utilisateur "<%= user.email %>"?
			<a class="btn btn-primary" role="button" href="/users/userDeleted/<%= user._id %>">Confirmer</a><a class="btn btn-light" role="button"href="/users">Retour</a>
    </form>
	</body>
  <% include parts/script %>

</html>
