<!DOCTYPE html>
<html>
	<head>
    <% include parts/head %>
  </head>
	<body>
    <% include parts/menu %>
    <h1>Accueil</h1>
    <p>Bienvenue sur le projet de <i>ASSALI Antoine</i> et <i>AZEROT Stéphane.</i><br>
    Nous pouvons voir la liste de nos favoris sur spotify par rapport à notre compte.</p>
    <a class="btn btn-primary" role="button" href="/users/create">Sign up</a><a href="#" role="button" class="btn btn-light">Login in</a>
  </body>
  <% include parts/script %>

</html>
