<!DOCTYPE html>
<html>
	<head>
    <% include parts/head %>
  </head>
	<body>
    <% include parts/menu %>
    <h1>Accueil</h1>
    <p>Bienvenue sur le projet de <i>ASSALI Antoine</i> et <i>AZEROT Stéphane.</i><br>
    Nous pouvons voir la liste de nos favoris sur spotify par rapport à notre compte.</p>
    <a href="/users/create">Login in</a><a href="#">Sign up</a>
  </body>
  <% include parts/script %>

</html>
