<!DOCTYPE html>
<html>

      <head>
          <% include parts/head %>
      </head>

  <body>
      <% include parts/menu %>

<div class="input-group">
    <input type="text" class="form-control" aria-label="Nom d'album">
    <div class="input-group-append">
      <span class="input-group-text">Album</span>
    </div>
  </div>
</body>
<% include parts/script %>

</html>

