<!DOCTYPE html>
<html>

      <head>
          <% include parts/head %>
      </head>

  <body>
      <% include parts/menu %>

    <form action="/users/userUpdated" method="post" enctype="application/json">
      <div class="form-group  row">
        <label for="email" class="col-sm-2 col-form-label">Email</label>
        <div class="col-sm-7">
            <input type="email" name="email" id="email" class="form-control"  value="<%= user.email %>"/>
        </div>
      </div>
      <div class="form-group  row">
        <label  for="password" class="col-sm-2 col-form-label">Password</label>
        <div class="col-sm-7">
          <input type="password" name="password" class="form-control" id="password"/>
        </div>
      </div>
			<input type="hidden" name="Id" id="Id" value="<%= user._id %>"/>
      <button class="btn btn-primary" role="button" type="submit">Ajouter</button>
    </form>
	</body>
  <% include parts/script %>

</html>
