<!DOCTYPE html>
<html>

      <head>
          <% include parts/head %>
      </head>

  <body>
      <% include parts/menu %>
    <h1>Infos</h1>
    <a href="/users">Back to users</a>
    <p>Votre utilisateur a été modifié</p>
  </body>
  <% include parts/script %>

</html>
