<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Infos</h1>
    <a href="/users">Back to users</a>
    <p>Votre utilisateur a été modifié</p>
  </body>
</html>
