<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>User deleted</h1>
    <a href="/users">Back to users</a>
    <p>L'utilisateur "<%= user.email %>" a été supprimé</p>
  </body>
</html>
