<!DOCTYPE html>
<html>

      <head>
          <% include parts/head %>
      </head>

  <body>
      <% include parts/menu %>
    <h1>User created</h1>
    <a href="/users">Back to users</a>
    <p>L'email est <%= user.email %></p>
    <% if (user.firstname) { %>
      <p>Le nom est <%= user.firstname %> <%= user.lastname %></p>
    <% } %>
  </body>
  <% include parts/script %>

</html>
