<!DOCTYPE html>
<html>

      <head>
          <% include parts/head %>
      </head>

  <body>
      <% include parts/menu %>
    <h1>User deleted</h1>
    <a href="/users">Back to users</a>
    <p>L'utilisateur "<%= user.email %>" a été supprimé</p>
  </body>
  <% include parts/script %>

</html>
